body {
  margin: 0;
  padding: 1rem 1.5rem;

  background-color: #101010;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
}

a:link {
  color: #1e90ff;
}

header {
  margin-bottom: 2.0rem;
}

h1 {
  margin: 0;
  font-size: 3.0rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

section {
  margin-bottom: 2.0rem;
}
